<html>
	<head>
		<script src="{{ url_for('static', filename='js/gauge.min.js') }}"></script>
		<style>
			canvas {
				height: 303px;
				width: 320px;
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td>
					<canvas id="compass"></canvas>
				</td>
				<td>
					<canvas id="wind-speed"></canvas>
				</td>
			</tr>
			<tr>
				<td>
					<canvas id="temp"></canvas>
				</td>
				<td>
					<canvas id="press"></canvas>
				</td>
			</tr>
		</table>
		<!-- <canvas id="compass"></canvas>
		<canvas id="wind-speed"></canvas> -->
		<input type=button onclick="defVal()" value="TEST"/>
	</body>
	<script>
			var speed = new RadialGauge({
				renderTo: 'wind-speed',
				minValue: 0,
				maxValue: 45,
				majorTicks: [
					0,
					5,
					10,
					15,
					20,
					25,
					30,
					35,
					40,
					45
				],
				highlightsWidth: 30,
				highlights: [
				{
						"from": "0",
						"to": "15",
						"color": "rgba(0,120 ,0, 0.3)"
					},
					{
						"from": "15",
						"to": "30",
						"color": "rgb(255,140,0, 0.3)"
					},
					{
						"from": "30",
						"to": "45",
						"color": "rgb(255,0 ,0, 0.3)"
					},
				],
				valueBox: true,
				valueInt: 0,
				valueDec: 2,
				units: "knts",
				animationDuration: 1500,
				animationRule: "linear",

			}).draw();
			var compass = new RadialGauge({
				renderTo: 'compass',
				minValue: 0,
				maxValue: 360,
				majorTicks: [
					"N",
					"NE",
					"E",
					"SE",
					"S",
					"SW",
					"W",
					"NW",
					"N"
				],
				minorTicks: 22,
				ticksAngle: 360,
				startAngle: 180,
				strokeTicks: false,
				highlights: false,
				colorPlate: "rgba(170, 51, 51, 0.7)",
				colorMajorTicks: "#f5f5f5",
				colorMinorTicks: "#ddd",
				colorNumbers: "#ccc",
				colorNeedle: "rgba(240, 128, 128, 1)",
				colorNeedleEnd: "rgba(255, 160, 122, .9)",
				valueBox: false,
				valueTextShadow: false,
				colorCircleInner: "#fff",
				colorNeedleCircleOuter: "#ccc",
				needleCircleSize: 15,
				needleCircleOuter: false,
				animationRule: "linear",
				needleType: "line",
				needleStart: 60,
				needleEnd: 90,
				needleWidth: 3,
				borders: true,
				borderInnerWidth: 0,
				borderMiddleWidth: 0,
				borderOuterWidth: 10,
				colorBorderOuter: "#ccc",
				colorBorderOuterEnd: "#ccc",
				colorNeedleShadowDown: "#222",
				borderShadowWidth: 0,
				animationDuration: 1500,
				value: 270
			}).draw();		
			var temp = new RadialGauge({
				renderTo: 'temp',
				minValue: -10,
				maxValue: 50,
				majorTicks: [
					-10,
					-5,
					0,
					5,
					10,
					15,
					20,
					25,
					30,
					35,
					40,
					45,
					50
				],
				valueBox: true,
				valueInt: 1,
				valueDec: 0,
				units: "°C",
				animationDuration: 1500,
				animationRule: "linear",
				highlightsWidth: 30,
				highlights: [
				{
						"from": "-10",
						"to": "0",
						"color": "rgba(120,0,120, 0.3)"
					},
					{
						"from": "0",
						"to": "10",
						"color": "rgba(0,0,255, 0.3)"
					},
					{
						"from": "10",
						"to": "20",
						"color": "rgb(0,120,0, 0.3)"
					},
					{
						"from": "20",
						"to": "30",
						"color": "rgba(255,255,0, 0.3)"
					},
					{
						"from": "30",
						"to": "40",
						"color": "rgb(255,140,0, 0.3)"
					},
					{
						"from": "40",
						"to": "50",
						"color": "rgb(255,0,0, 0.3)"
					},
				],

			}).draw();
			var press = new RadialGauge({
				renderTo: 'press',
				minValue: 950,
				maxValue: 1050,
				// majorTicks: [
				// 	800,
				// 	850,
				// 	900,
				// 	950,
				// 	1000,
				// 	1050,
				// 	1100
				// ],
				majorTicks: [
					950,
					975,
					1000,
					1025,
					1050,
				],
				valueBox: true,
				valueInt: 1,
				valueDec: 0,
				units: "hPa",
				animationDuration: 1500,
				animationRule: "linear",
				highlights: false,
			}).draw();

			function defVal(){
				compass_step = 10
				speed_step = 5
				if (compass.value<compass.options.maxValue - compass_step){
					compass.value +=compass_step;	
				}else{
					compass.value = 0 ;
				}
				if (speed.value<speed.options.maxValue - speed_step){
					speed.value +=speed_step;	
				}else{
					speed.value = 0 ;
				}
				press.value=1014.75
				temp.value=22.3
			}
	</script>
</html>
